.menu {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    display: flex;
    flex-direction: row;

    height: 50px;

    border-bottom: 2px solid;
    border-color:  rgb(12, 0, 114);
    border-radius: 5px;
    box-shadow: 2px 2px 2px;

    li{
        font-size: 20px;
        margin-top: auto;
        margin-bottom: auto;
        display: block;
        margin-right: 20px;
        border-radius: 50;
        color: rgb(12, 0, 114);
    }
};